{{page-title "FinanceTool"}}

<h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
  Finance Calculators
</h1>

<div class="flex items-center justify-center h-screen">
  <FutureValueCalculator
    class="bg-indigo-800 rounded-lg shadow-lg p-10"
  />
</div>

{{!-- {{outlet}} --}}